@tailwind base;
@tailwind components;
@tailwind utilities;


.title {
    position: relative;
    /* display: inline-block; */
    margin-top: 20px;
}

.title[title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: -120%;
    width: 200px;
    left: -25px;
    background: white;
    box-shadow: 10px 0 20px black;
    border-radius: 10px;
    padding: 8px 24px;
}
